html {
  background: linear-gradient(to bottom right, #fafafa, #d3e6f1, #fafafa);
  height: 100vh;
}

body,
header,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

header {
  margin: 1rem 0;
  gap: 0.5rem;
}

#searchWeather {
  border: none;
  border-radius: 18px;
  padding: 1rem;
}

#getWeatherButton, #convertTemp {
  border: none;
  border-radius: 18px;
  padding: 1rem;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* max-width: 34rem;
  max-height: 34rem; */
  height: 32rem;
  width: 32rem;
  box-shadow: 0px 0px 10px 0 rgb(0, 0, 0, 0.25);
  background-color: white;
  margin: 2rem 0;
  border-radius: 18px;
}

.topBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 8rem;
  gap: 0.5rem;
  padding: 2rem;
  background: linear-gradient(to bottom right, #616161, #7d858a, #616161);
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.topBar h3,
.topBar h4 {
  font-weight: 400;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.bottomArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem;
  width: 100%;
  height: 100%;
}

.centerDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#temp {
  font-size: 4rem;
}

#description {
  text-align: center;
}

.dateAndTime {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 1rem;
  justify-items: center;
}

.dateAndTime div,
.details div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 1rem;
  justify-items: center;
}

.details h4,
.dateAndTime h4 {
  font-weight: 300;
  color: #7d858a;
}

#humidity,
#wind,
#feelslike {
  font-size: 1.5rem;
}

#icon {
    aspect-ratio: 1 / 1;
    width: 8rem;
    margin: -1rem;
    padding: 0;
}
