html {
    background: linear-gradient(to bottom right, #fafafa, #d3e6f1, #fafafa);
    height: 100vh;
}

body, header, main, .display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2 {
    margin: 0.25rem;
}

header {
    margin: 1rem 0;
}

.display {
    height: 400px;
    width: 400px;
    box-shadow: 1px 1px 25px 0 rgb(0, 0, 0, 0.5);
    background-color: white;
    margin: 3rem 0;
}