html {
    background: linear-gradient(to bottom right, #fafafa, #d3e6f1, #fafafa);
    height: 100vh;
}

body, header, main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2, h3, h4 {
    margin: 0;
}

header {
    margin: 1rem 0;
    gap: 0.5rem;
}

#searchWeather {
    border: none;
    border-radius: 18px;
    padding: 1rem;
}

#getWeatherButton {
    border: none;
    border-radius: 18px;
    padding: 1rem;    
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 30rem;
    width: 30rem;
    box-shadow: 0px 0px 10px 0 rgb(0, 0, 0, 0.25);
    background-color: white;
    margin: 2rem 0;
    border-radius: 18px;
}

.topBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 6rem;
    gap: 0.5rem;
    padding: 1rem;
    background: linear-gradient(to bottom right, #616161, #7d858a, #616161);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.topBar h3, .topBar h4 {
    font-weight: 400;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5)
}